In [4]:
ordersDF = spark.read.csv("/Users/shreyas_rl/Desktop/git/itversity-data/retail_db/orders")
type(ordersDF)

pyspark.sql.dataframe.DataFrame

In [7]:
ordersDF.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [8]:
ordersDF.show()

+---+--------------------+-----+---------------+
|_c0|                 _c1|  _c2|            _c3|
+---+--------------------+-----+---------------+
|  1|2013-07-25 00:00:...|11599|         CLOSED|
|  2|2013-07-25 00:00:...|  256|PENDING_PAYMENT|
|  3|2013-07-25 00:00:...|12111|       COMPLETE|
|  4|2013-07-25 00:00:...| 8827|         CLOSED|
|  5|2013-07-25 00:00:...|11318|       COMPLETE|
|  6|2013-07-25 00:00:...| 7130|       COMPLETE|
|  7|2013-07-25 00:00:...| 4530|       COMPLETE|
|  8|2013-07-25 00:00:...| 2911|     PROCESSING|
|  9|2013-07-25 00:00:...| 5657|PENDING_PAYMENT|
| 10|2013-07-25 00:00:...| 5648|PENDING_PAYMENT|
| 11|2013-07-25 00:00:...|  918| PAYMENT_REVIEW|
| 12|2013-07-25 00:00:...| 1837|         CLOSED|
| 13|2013-07-25 00:00:...| 9149|PENDING_PAYMENT|
| 14|2013-07-25 00:00:...| 9842|     PROCESSING|
| 15|2013-07-25 00:00:...| 2568|       COMPLETE|
| 16|2013-07-25 00:00:...| 7276|PENDING_PAYMENT|
| 17|2013-07-25 00:00:...| 2667|       COMPLETE|
| 18|2013-07-25 00:00:...| 1205|         CLOSED|
| 19|2013-07-25 00:00:...| 9488|PENDING_PAYMENT|
| 20|2013-07-25 00:00:...| 9198|     PROCESSING|
+---+--------------------+-----+---------------+
only showing top 20 rows

In [11]:
ordersTextDf = spark.read.text("/Users/shreyas_rl/Desktop/git/itversity-data/retail_db/orders")
ordersTextDf.printSchema()

root
 |-- value: string (nullable = true)

In [10]:
ordersTextDf.show()

+--------------------+
|               value|
+--------------------+
|1,2013-07-25 00:0...|
|2,2013-07-25 00:0...|
|3,2013-07-25 00:0...|
|4,2013-07-25 00:0...|
|5,2013-07-25 00:0...|
|6,2013-07-25 00:0...|
|7,2013-07-25 00:0...|
|8,2013-07-25 00:0...|
|9,2013-07-25 00:0...|
|10,2013-07-25 00:...|
|11,2013-07-25 00:...|
|12,2013-07-25 00:...|
|13,2013-07-25 00:...|
|14,2013-07-25 00:...|
|15,2013-07-25 00:...|
|16,2013-07-25 00:...|
|17,2013-07-25 00:...|
|18,2013-07-25 00:...|
|19,2013-07-25 00:...|
|20,2013-07-25 00:...|
+--------------------+
only showing top 20 rows

In [13]:
ordersDF = spark.read.csv("/Users/shreyas_rl/Desktop/git/itversity-data/retail_db/orders").toDF('order_id','order_date','order_customerID','order_status')
ordersDF.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_customerID: string (nullable = true)
 |-- order_status: string (nullable = true)

In [14]:
ordersDF.show()

+--------+--------------------+----------------+---------------+
|order_id|          order_date|order_customerID|   order_status|
+--------+--------------------+----------------+---------------+
|       1|2013-07-25 00:00:...|           11599|         CLOSED|
|       2|2013-07-25 00:00:...|             256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|           12111|       COMPLETE|
|       4|2013-07-25 00:00:...|            8827|         CLOSED|
|       5|2013-07-25 00:00:...|           11318|       COMPLETE|
|       6|2013-07-25 00:00:...|            7130|       COMPLETE|
|       7|2013-07-25 00:00:...|            4530|       COMPLETE|
|       8|2013-07-25 00:00:...|            2911|     PROCESSING|
|       9|2013-07-25 00:00:...|            5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|            5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|             918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|            1837|         CLOSED|
|      13|2013-07-25 00:00:...|            9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|            9842|     PROCESSING|
|      15|2013-07-25 00:00:...|            2568|       COMPLETE|
|      16|2013-07-25 00:00:...|            7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|            2667|       COMPLETE|
|      18|2013-07-25 00:00:...|            1205|         CLOSED|
|      19|2013-07-25 00:00:...|            9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|            9198|     PROCESSING|
+--------+--------------------+----------------+---------------+
only showing top 20 rows

In [16]:
ordersDF.select('order_id','order_date').show(100)

+--------+--------------------+
|order_id|          order_date|
+--------+--------------------+
|       1|2013-07-25 00:00:...|
|       2|2013-07-25 00:00:...|
|       3|2013-07-25 00:00:...|
|       4|2013-07-25 00:00:...|
|       5|2013-07-25 00:00:...|
|       6|2013-07-25 00:00:...|
|       7|2013-07-25 00:00:...|
|       8|2013-07-25 00:00:...|
|       9|2013-07-25 00:00:...|
|      10|2013-07-25 00:00:...|
|      11|2013-07-25 00:00:...|
|      12|2013-07-25 00:00:...|
|      13|2013-07-25 00:00:...|
|      14|2013-07-25 00:00:...|
|      15|2013-07-25 00:00:...|
|      16|2013-07-25 00:00:...|
|      17|2013-07-25 00:00:...|
|      18|2013-07-25 00:00:...|
|      19|2013-07-25 00:00:...|
|      20|2013-07-25 00:00:...|
|      21|2013-07-25 00:00:...|
|      22|2013-07-25 00:00:...|
|      23|2013-07-25 00:00:...|
|      24|2013-07-25 00:00:...|
|      25|2013-07-25 00:00:...|
|      26|2013-07-25 00:00:...|
|      27|2013-07-25 00:00:...|
|      28|2013-07-25 00:00:...|
|      29|2013-07-25 00:00:...|
|      30|2013-07-25 00:00:...|
|      31|2013-07-25 00:00:...|
|      32|2013-07-25 00:00:...|
|      33|2013-07-25 00:00:...|
|      34|2013-07-25 00:00:...|
|      35|2013-07-25 00:00:...|
|      36|2013-07-25 00:00:...|
|      37|2013-07-25 00:00:...|
|      38|2013-07-25 00:00:...|
|      39|2013-07-25 00:00:...|
|      40|2013-07-25 00:00:...|
|      41|2013-07-25 00:00:...|
|      42|2013-07-25 00:00:...|
|      43|2013-07-25 00:00:...|
|      44|2013-07-25 00:00:...|
|      45|2013-07-25 00:00:...|
|      46|2013-07-25 00:00:...|
|      47|2013-07-25 00:00:...|
|      48|2013-07-25 00:00:...|
|      49|2013-07-25 00:00:...|
|      50|2013-07-25 00:00:...|
|      51|2013-07-25 00:00:...|
|      52|2013-07-25 00:00:...|
|      53|2013-07-25 00:00:...|
|      54|2013-07-25 00:00:...|
|      55|2013-07-25 00:00:...|
|      56|2013-07-25 00:00:...|
|      57|2013-07-25 00:00:...|
|      58|2013-07-25 00:00:...|
|      59|2013-07-25 00:00:...|
|      60|2013-07-25 00:00:...|
|      61|2013-07-25 00:00:...|
|      62|2013-07-25 00:00:...|
|      63|2013-07-25 00:00:...|
|      64|2013-07-25 00:00:...|
|      65|2013-07-25 00:00:...|
|      66|2013-07-25 00:00:...|
|      67|2013-07-25 00:00:...|
|      68|2013-07-25 00:00:...|
|      69|2013-07-25 00:00:...|
|      70|2013-07-25 00:00:...|
|      71|2013-07-25 00:00:...|
|      72|2013-07-25 00:00:...|
|      73|2013-07-25 00:00:...|
|      74|2013-07-25 00:00:...|
|      75|2013-07-25 00:00:...|
|      76|2013-07-25 00:00:...|
|      77|2013-07-25 00:00:...|
|      78|2013-07-25 00:00:...|
|      79|2013-07-25 00:00:...|
|      80|2013-07-25 00:00:...|
|      81|2013-07-25 00:00:...|
|      82|2013-07-25 00:00:...|
|      83|2013-07-25 00:00:...|
|      84|2013-07-25 00:00:...|
|      85|2013-07-25 00:00:...|
|      86|2013-07-25 00:00:...|
|      87|2013-07-25 00:00:...|
|      88|2013-07-25 00:00:...|
|      89|2013-07-25 00:00:...|
|      90|2013-07-25 00:00:...|
|      91|2013-07-25 00:00:...|
|      92|2013-07-25 00:00:...|
|      93|2013-07-25 00:00:...|
|      94|2013-07-25 00:00:...|
|      95|2013-07-25 00:00:...|
|      96|2013-07-25 00:00:...|
|      97|2013-07-25 00:00:...|
|      98|2013-07-25 00:00:...|
|      99|2013-07-25 00:00:...|
|     100|2013-07-25 00:00:...|
+--------+--------------------+
only showing top 100 rows

In [17]:
for i in ordersDF.select('order_id','order_date').take(10):
    print(i)

Row(order_id='1', order_date='2013-07-25 00:00:00.0')
Row(order_id='2', order_date='2013-07-25 00:00:00.0')
Row(order_id='3', order_date='2013-07-25 00:00:00.0')
Row(order_id='4', order_date='2013-07-25 00:00:00.0')
Row(order_id='5', order_date='2013-07-25 00:00:00.0')
Row(order_id='6', order_date='2013-07-25 00:00:00.0')
Row(order_id='7', order_date='2013-07-25 00:00:00.0')
Row(order_id='8', order_date='2013-07-25 00:00:00.0')
Row(order_id='9', order_date='2013-07-25 00:00:00.0')
Row(order_id='10', order_date='2013-07-25 00:00:00.0')

In [19]:
ordersDF.describe().show()

+-------+------------------+--------------------+-----------------+---------------+
|summary|          order_id|          order_date| order_customerID|   order_status|
+-------+------------------+--------------------+-----------------+---------------+
|  count|             68883|               68883|            68883|          68883|
|   mean|           34442.0|                null|6216.571098819738|           null|
| stddev|19884.953633337947|                null|3586.205241263963|           null|
|    min|                 1|2013-07-25 00:00:...|                1|       CANCELED|
|    max|              9999|2014-07-24 00:00:...|             9999|SUSPECTED_FRAUD|
+-------+------------------+--------------------+-----------------+---------------+

In [20]:
ordersDF.count()

68883

In [25]:
ordersDF.select('order_id','order_status').createTempView('orders_data')

In [29]:
spark.sql("select * from orders_data where order_status = 'COMPLETE'").show(10)

+--------+------------+
|order_id|order_status|
+--------+------------+
|       3|    COMPLETE|
|       5|    COMPLETE|
|       6|    COMPLETE|
|       7|    COMPLETE|
|      15|    COMPLETE|
|      17|    COMPLETE|
|      22|    COMPLETE|
|      26|    COMPLETE|
|      28|    COMPLETE|
|      32|    COMPLETE|
+--------+------------+
only showing top 10 rows